<footer class="footer">
    <div class="footer__item contacts">
        <div class="contacts__text">Дзвінок безкоштовний</div>
        <div class="contacts__tel">0 800 309 077</div>
        <div class="contacts__email">mail@youcontrol.com.ua</div>
        <div class="contacts__question">Вирішили купувати?</div>
        <div class="contacts__btn">Заказать звонок</div>
    </div>
    <div class="footer__item for-customers">
        <div class="footer__title">Для користувачів</div>
        <ul>
            <li>Можливості</li>
            <li>Кейси</li>
            <li>Тарифи</li>
        </ul>
    </div>
    <div class="footer__item projects">
        <div class="footer__title">Наші проекти</div>
        <div class="projects__elem">
            <div class="projects__img"><img src="img/Shape.png" alt="img"></div>
            <div>
                <div class="projects__title">YouScore</div>
                <div class="projects__desc">Доступ по API</div>
            </div>
        </div>
        <div class="projects__elem">
            <div class="projects__img"><img src="img/app.png" alt="img"></div>
            <div>
                <div class="projects__title">Додаток</div>
                <div class="projects__desc">Chrome, Mozilla</div>
            </div>
        </div>
    </div>
    <div class="footer__item media">
        <div class="media__desc">&copy;YouControl – повне досьє на кожну компанію України</div>
        <ul>
            <li><a href=""><img src="img/i-facebook.png" alt="img"></a></li>
            <li><a href=""><img src="img/i-youtube.png" alt="img"></a></li>
            <li><a href=""><img src="img/linkedin.png" alt="img"></a></li>
            <li><a href=""><img src="img/telegram.png" alt="img"></a></li>
        </ul>
        <div class="media__cards">
            <div class="media__cards_text">Сплачуйте онлайн:</div>
            <div class="media__img"><img src="img/i-visa_icon.png" alt="img"></div>
            <div class="media__img"><img src="img/master-card-icon.png" alt="img"></div>
            
            
        </div>
    </div>
</footer>