<header class="header @@page">
    <div class="container">
        <div class="logo_block">
            <a class="logo" href="./index.html"> <img src="img/You_control_logo.png" alt="logo"></a>
            <div onclick="closeLeftClick()" class="collapse-left-menu"><img src="img/i-menu-left.png" alt="collapse"></div>
        </div>
        
        <div class="right">
            <div onclick="notificClick()" class="header-btn notification">
                <img src="img/notification.png" alt="img">
                <div class="notification-mark">9+</div>
            </div>
            <div class="header-btn user">
                <img src="img/user.png" alt="img">
                <img class="user-arrow" src="img/arrow.png" alt="img">
            </div>
        </div>
        
    </div>
</header>