<div class="popup">
    <div class="popup__container">
        <div class="popup_block">
            <div onclick="closePopupClick()" class="close_popup"><img src="img/close.png" alt="close"></div>
            <div class="popup__line">
                <div class="popup__mark green">оновлення</div>
                <div class="popup__date">Сьогодні 29.05.2019</div>
            </div>
            <div class="popup__title">Нові функції моніторингу</div>
            <div class="popup__desc">Додайте свою компанію та головних контрагентів до моніторингу та першим дізнавайтесь про істотні зміни офіційних даних.</div>
            <div class="popup__checked"> <img src="img/checked.png" alt="check"><span>Нові кольори;</span></div>
            <div class="popup__checked"> <img src="img/checked.png" alt="check"><span>Додавайте більше списків.</span></div>
            <div class="popup__img-block">
                <div class="img_centered">
                    <div class="popup__top-img">
                        <img src="img/popup_top_img.png" alt="img">
                        <div class="popup__bottom-img"><img src="img/popup_bottom_img.png" alt="img"></div>
                    </div>
                </div> 
            </div>
            <div class="popup__news-title">Що нового?</div>
            <div class="popup__news-desc">Якщо ви поставите в моніторинг власне підприємство, то отримаєте автоматичне сповіщення, якщо його дані в реєстрах змінилися без вашої участі. Зі звіту моніторингу ви можете дізнатися про нього навіть раніше співробітників самого підприємства, адже сповіщення з’явиться того самого дня. За своєю ініціативою контрагент навряд чи повідомить вам цю інформацію, а вона може бути критично важливою для вашої співпраці.</div>
        </div>
        <div class="popup__btns">
            <button class="prev_news">Назад</button>
            <button class="next_news">Наступне сповіщення</button>
        </div>
    </div>
</div>
<div onclick="closePopupClick()" class="popup_bg"></div>